<!--Heredar de plantilla Base-->
{% extends 'core/base.html' %}

<!--Llenar el bloque cabecera-->
{% block cabecera %}
Clientes
{% endblock %}

<!--Llenar el bloque pie-->
{% block pie %}
{% include 'clientes/cliente_menu.html'%}
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Clientes Registrados</h6>
  </div>
      <div class="table-responsive">
        
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
<thead>
    <tr>
        <th scope="col">Cedula</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Dirección</th>
      <th scope="col">Ciudad</th>     
      <th scope="col">Teléfono</th>
      <th scope="col">Correo</th>
      <th scope="col">Acciones</th>
      
    </tr>
  </thead> 
  
    <tbody>
        {% for cliente in object_list %}
    <tr>
        <td>{{cliente.cedula}}</td>
        <td>{{cliente.nombre_cliente}}</td>
        <td>{{cliente.apellido_cliente}}</td>
        <td>{{cliente.direccion_cliente}}</td>
        <td>{{cliente.ciudad_cliente}}</td>
        <td>{{cliente.telefono_cliente}}</td>
        <td>{{cliente.correo_cliente}}</td>
        <td>
          <a href="{% url 'clientes:update' cliente.id %}" class="btn btn-sm btn-primary">Editar</a>
          <a href="{% url 'clientes:delete' cliente.id %}" class="btn btn-secondary btn-sm">Borrar</a>
        </td>
    </tr>
    {% endfor %}
    
    </tbody>
    
</table>

{% endblock %}