<!--Heredar de plantilla Base-->
{% extends 'core/base.html' %}

<!--Llenar el bloque cabecera-->
{% block cabecera %}
Ventas
{% endblock %}

 
<!--Llenar el bloque pie-->
{% block pie %}
{% include 'ventas/venta_menu.html'%}
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Lista de Ventas</h6>
  </div>
      <div class="table-responsive">
        
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Medicamento</th>
      <th scope="col">Precio</th>
      <th scope="col">Total</th>
    </tr>
  </thead> 
  
    <tbody>
        {% for venta in ventas %}
    <tr>
      <th scope="row">#</th>
      <!-- <td>{{venta.nombre_cliente}}</td>
      <td>{{venta.apellido_cliente}}</td> -->
      <td>{{venta.cantidad_venta}}</td>
      <td>{{venta.nombre_comercial}}</td>
      <td>{{venta.precio_venta}}</td>
      <td>{{venta.total}}</td>
        <td>
          <a href="#" class="btn btn-primary">Editar</a>
          <a href="#" class="btn btn-primary">Borrar</a>
        </td>
    </tr>
    {% endfor %}
    
    </tbody>
    
</table>

{% endblock %}