<!--Heredar de plantilla Base-->
{% extends 'core/base.html' %}

<!--Llenar el bloque cabecera-->
{% block cabecera %}
Compras
{% endblock %}

<!--Llenar el bloque pie-->
{% block pie %}
{% include 'compras/compra_menu.html'%}
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Compras Registradas</h6>
  </div>
      <div class="table-responsive">
        
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
<thead>
    <tr>
        <th scope="col">Medicamento</th>
        <th scope="col">Laboratorio</th>
        <th scope="col">Cantidad Requerida</th>
        <th scope="col">Distribuidor</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead> 
  
    <tbody>
      {% for compra in object_list %}
    <tr>
        
        <td>{{compra.nombre_medicamento}}</td>
        <td>{{compra.nombre_laboratorio}}</td>
        <td>{{compra.cantidad_compra}}</td>
        <td>{{compra.nombre_distribuidor}}</td>
        <td>
          <a href="{% url 'compras:update' compra.id %}" class="btn btn-sm btn-primary">Editar</a>
          <a href="{% url 'compras:delete' compra.id %}" class="btn btn-secondary btn-sm">Borrar</a>
        </td>
    </tr>
    {% endfor %}
    
    </tbody>
    
</table>

{% endblock %}