<div class="btn-group dropright mb-4">
    <button class="btn btn-secondary dropdown-toggle" type="button"
        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Administrar
    </button>
    <div class="dropdown-menu animated--fade-in"
        aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'compras:create' %}">Registro de Compra</a>
        <a class="dropdown-item" href="{% url 'compras:compras' %}">Visualizar Registros</a>
    </div>
</div>